<p>actualizar-alumno works!</p>
<div class="container col-md-6">
    <div class="card-header">
        <h3>Actualizar Alumno</h3>
    </div>
    <div class="card-body">
        <form (ngSubmit)="actualizarAlumno()" #formAlumno="ngForm">
            <div *ngIf="mensaje" class="alert alert-info">{{ mensaje }}</div>
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" [value]="editarAlumno.id" name="id" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" [(ngModel)]="editarAlumno.nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="paterno">Apellido Paterno:</label>
                <input type="text" [(ngModel)]="editarAlumno.paterno" name="paterno" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="materno">Apellido Materno:</label>
                <input type="text" [(ngModel)]="editarAlumno.materno" name="materno" class="form-control">
            </div>
            <div class="form-group">
                <label for="nacimiento">Fecha de Nacimiento:</label>
                <input type="date" [(ngModel)]="editarAlumno.nacimiento" name="nacimiento" class="form-control">
            </div>

            <div class="form-group">
                <label for="grado">Grado:</label>
                <select [(ngModel)]="gradoSeleccionado" name="grado" class="form-control" >
                    <option *ngFor="let grado of grados" [ngValue]="grado">{{ grado.descripcion }}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Cursos:</label>
                <div *ngFor="let curso of cursos; trackBy: trackByCurso">
                    <input type="checkbox" 
                           [checked]="isCursoSeleccionado(curso)" 
                           (change)="seleccionarCurso(curso)">
                    {{ curso.descripcion }}
                </div>
            </div>
            
            <div class="form-group">
                <label for="salon">Salón:</label>
                <select [(ngModel)]="salonSeleccionado" name="salon" class="form-control">
                    <option *ngFor="let salon of salones" [ngValue]="salon">{{ salon.descripcion }}</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-danger" [disabled]="!formAlumno.valid">Guardar</button>
        </form>
    </div>
</div>