.table {
    margin-top: 20px;
    width: 100%;
}

.boton {
    font-family: 'Gill Sans', sans-serif;
    font-size:14px;
    font-weight: 1000;
    padding: 10px;
    margin: 0 5px;
  }

.btn-icon i {
    margin-left: 10px;
}

.container {
    margin: 0 auto;
    padding: 20px;
}